<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {#{% if $request->headers->get('') = '' %}#}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script type="text/javascript">
        alert("{{ flashMessage }}");
        </script>
    {% endfor %}
        <ul id="navigation">
            登録済みビデオ一覧
        </ul>
        {#ビデオ一覧のループを書く#}
        {% for single_video in video_array %}
            <li><a href="{{ path('video/detail', {'video_id': single_video.getId}) }}"> {{ single_video.getUrl }}</a></li>
        {% endfor %}
        <a href="{{ path('video/new') }}">
            新しく動画を登録
        </a>
        <br>
        <br>
        <a href="{{ path('play') }}">
            動画再生画面へ
        </a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
